#particles-js{
  background-color: #7FBC02;
  height:100%;
  /*overflow: hidden;*/
}

.login_container {
  /*display: table;*/
  width: 30%;
  height: 40%;
  margin: 0 auto;
  /*background: darkgray;*/
  background: Rgba(169, 169, 169, 0.5);
  /*opacity: 0.5;*/
  left: 35%;
  top: 30%;
  border-radius: 10%;
  position: absolute;
}

form {
  margin-top: 18%;
}
